body {
    background-color: #1d1d1d;
	#background-color:blue;
	margin: 0px;
	border:none;
    font-family: "Lato", sans-serif;
    transition: background-color .1s;
}
textarea {
  width: 98%;
  height: 75%;
		border:none;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 15px;
		background-color: #38342D;
		color: white;
 margin: 1% ;
	padding: 1% 1%;
}
.textareafirewall{
	  width: 98%;
  height: 60%;
		border:none;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 15px;
		background-color: #38342D;
		color: white;
 margin: 1% ;
	padding: 1% 1%;
	
	
}

.iframesysteminfo {
	background-color: #1d1d1d;
	margin: 2px;
	width: 100%;
    height: 100%;
		border:none;
}
.interfacesliveupdate {
	background-color: #1d1d1d;
	margin: 1%;
	width: 700px;
    height: 400px;
		border:none;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   # margin: 4px 2px;
    cursor: pointer;
    
				 margin: 0px;
				#	    float: left;
				transition-duration: 0.4s;
				-webkit-transition-duration: 0.4s; /* Safari */
				#height: 5%;
}
.button2:hover {
	background-color: #555555;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
				color: white;
}

.headbuttons {
	display: flex;
    align-items: flex-start;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  font-family: Monospace, sans-serif;
font-size: 20px;
position: static;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}








.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 55;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

    #ta {  top: 0; left: 0; right: 0; bottom: 0;height:600px;width:100%;}
    #indexstyle {top: 0; left: 0; right: 0; bottom: 0;height:600px;width:100%;}
#exectop {
	font-family: Monospace, sans-serif;
	color: #bdc3c7;
	letter-spacing: 2px;
	font-size: 16px;
}

#servicesactive {
color: Green;	
font-family: Monospace, sans-serif;
font-size: 20px;
}
#servicesinactive {
color: red;	
font-family: Monospace, sans-serif;
font-size: 20px;
}